/* Estilização global para o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C9B7E6;
}

/* Contêiner principal que organiza o layout */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para o cabeçalho */
.header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.header p {
  margin: 0.5rem 0;
}

.header label {
  display: block;
  margin-top: 1rem;
}

.header input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

/* Estilos para o conteúdo principal */
.main-Content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Estilos para o botão */
.button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #21a1f1;
}
